.App-logo {
}
  
.App-header {
}
  /* aasasasasasasasasasasasasassasasasasasasasasasasasasasassasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasassasasasasasaasasasaSASASASASASASASASASASAAASAAASASASASASASASAASSASASASASASASASASASASASASASASASASSASASASASASASASASASASASASASASSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSAASSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSASSSSASASASASASSASSASASASASASSASASASASASASASASASASASASASASASASASASASASASSASAsasasassasaasasasasasasasasasasasasasasasasasasasaasasaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasssassasaassasaasassasasassasaassassasassasasasasasasasasasasasasasasasasasasasasasasasasasasasasaasasasasasasasasasasasasasasasasasasasasasassqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwwqwqwqwqwqwqwqwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwqwqwqwqwqqqqqqqqqqqqqwqwqwqwqwqwqwqwqwqwwqwqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqwqwqwqwqwqwqwqwwwqqeqweqeqqweweqqwwqqwwqwweewewwewewewewewewewewewewewwewewewwewwwwwwwqwwwqqwqwqqqwqwqwqqwqwqwqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqwqqqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwwqwqqwqwqwqwqwqwqwqwqwqwqwqwqwwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwqwqwqwqwqw */
.App-link {
}
body{
}
.navBar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 95px;
    font-family: 'Bebas Neue', cursive;
    color:  #ECEDED;
    background-color: rgba(100, 100, 100, 0.63);
}
ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.7rem;
    margin-top: 30px;
    margin-bottom: 19px;
    margin-right: 40px;
    padding-inline-start: 0;
}  
li a {
    color:  #ECEDED;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
li a:hover {
    color:  #ECEDED;
    text-decoration: none;
}
.firstLogo{
    margin-left: 15px;
    margin-top: 17.5px;
    margin-bottom: 17.5px;
}
.icons{
    color: white;
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.colorPallete{
  color:#32417C;
  color:#2D53A2;
  color:#0561A8;
  color:#167ABC;
  color:#606164;
  color:#929293;
  color:#949183;
  color:#C8C9C2;
  color:#ECEDED;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .mediaMob{
        
    }
    .mediaDesk{
        display: none;
    }
    ul{
        justify-content: flex-end;
        margin: 17.5px;
        margin-right: 15px;
    }
}
@media only screen and (orientation: portrait) {
    /* For mobile phones: */
    .mediaMob{      

    }
    .mediaDesk{
        display: none;
    }
    ul{
        justify-content: flex-end;
        margin: 17.5px;
        margin-right: 15px;
    }
}

@media only screen and (max-height: 414px) and (orientation: landscape) {
    /* For mobile phones: */        
    .mediaMob{
        
    }
    .mediaDesk{
        display: none;
    }
    ul{
        justify-content: flex-end;
        margin: 17.5px;
        margin-right: 15px;
    }

}
@media only screen and (min-height: 415px) and (min-width: 769px)  {
    /* For desktop: */
    .mediaMob{
        display: none;
    }
    .mediaDesk{
    
    }

}