/*  GERAL */

input, button, textarea {
  resize: none;
  outline: 0;
}

.linha {
  display: flex;
  flex-direction: row;
}

.coluna {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* Coluna */
.coluna input,
.coluna textarea {
  margin-bottom: 28px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: rgb(212, 209, 209);
  color: rgb(85, 85, 85);
}

.coluna .id {
  margin-right: 10px;
}

/* id's de contato */

#contato-info {
  font-size: 18px;
  margin-top: 10px;

}

#form-contato {
  margin: 0 auto;
  width: 60%;
  color: white;
  padding: 5px;;
}

#button-contato {
  padding: 15px 0;
  color: white;
  background: rgb(128, 106, 189);
  border: none;
  border-radius: 10px;
  align-items: flex-end;
  cursor: pointer;
}

#button-contato:hover {
  background: rgb(124, 92, 206);
}


#button-contato:active {
  background: rgb(66, 40, 133);
}