* {
    margin: 0;
    padding: 0;
}

.slick-slider {
    z-index: 0;
}

svg {
    position: absolute;
}

#servicos {
    position: relative;
}

.bottom {
    bottom: 0px;
    fill: white;
    max-width: 100vw;
}

.slide-item {
    width: 100%;
    height: 450px;
    overflow: hidden;
    outline: none;
    position: relative;
}

.slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
    filter: brightness(80%);
}

.slide-item h2 {
    padding: 20px 40px;
    width: 50%;
    color: white;
    font-size: 1.3em;
    text-shadow: 1px 1px 5px black;
}

.slide-item .descricao {
    display: none;
}




.descricao p {
    margin: 20px 40px;
    margin-top: 100px;
}

.slide-item:hover .descricao {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    text-align: justify;
    color: white;
    font-size: 1em;
    background: rgb(50, 65, 124, 0.7);
    display: inline-block;
}

.servicos {
    width: 80%;
    padding: 50px 0;
    margin: 0 auto;
    background: transparent;
    margin-bottom: 15%;
}

.servicos h1 {
    margin-bottom: 5%;
    color: #606164;
}

.back-fade {
    align-items: flex-start;
}

.slick-dots {
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 50px;
    height: 10px;
    margin: 0 20px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 50px;
    height: 10px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 10px;
    content: '';
    text-align: center;
    background: black;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

.slick-prev,
.slick-next {
    float: left;
    z-index: 5;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    margin-top: -2px;

    display: block;
    width: 30px;
    height: 450px;
    padding: 0px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;
    background: rgba(245, 245, 245, 0.534);

    border: none;
    outline: none;
}

.slick-next {
    right: 0px;
}

.slick-prev {
    left: 0px;
}

.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
    opacity: 1;
    color: transparent;
    background: rgba(245, 245, 245, 0.794);
}

.slick-prev:active,
.slick-next:active {
    opacity: 1;
    color: transparent;
    background: rgb(255, 255, 255);
}

.slick-prev:before {
    content: '';
    display: inline-block;
    margin-top: 1.05em;
    margin-left: 0.6em;
    width: 0.8em;
    height: 0.8em;
    border-top: 0.2em solid #333;
    border-right: 0.2em solid #333;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    color: #606164;
}

.slick-next:before {
    content: '';
    display: inline-block;
    margin-top: 1.05em;
    margin-left: -0.6em;
    width: 0.8em;
    height: 0.8em;
    border-top: 0.2em solid #333;
    border-right: 0.2em solid #333;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #606164;
}

@media(max-width: 1024px) {

    .slick-dots li {
        width: 20px;
        height: 10px;
        margin: 0 10px;
    }

    .slick-dots li button {
        width: 20px;
        height: 10px;
        padding: 5px;
    }

    .slick-dots li button:before {
        width: 20px;
        height: 10px;
    }
}