  /* aasasasasasasasasasasasasassasasasasasasasasasasasasasassasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasasassasasasasasaasasasaSASASASASASASASASASASAAASAAASASASASASASASAASSASASASASASASASASASASASASASASASASSASASASASASASASASASASASASASASSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSAASSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSASSSSASASASASASSASSASASASASASSASASASASASASASASASASASASASASASASASASASASASSASAsasasassasaasasasasasasasasasasasasasasasasasasasaasasaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasssassasaassasaasassasasassasaassassasassasasasasasasasasasasasasasasasasasasasasasasasasasasasasaasasasasasasasasasasasasasasasasasasasasasassqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwwqwqwqwqwqwqwqwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwqwqwqwqwqqqqqqqqqqqqqwqwqwqwqwqwqwqwqwqwwqwqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqwqwqwqwqwqwqwqwwwqqeqweqeqqweweqqwwqqwwqwweewewwewewewewewewewewewewewwewewewwewwwwwwwqwwwqqwqwqqqwqwqwqqwqwqwqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqwqqqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwwqwqqwqwqwqwqwqwqwqwqwqwqwqwqwwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwqwqwqwqwqw */
.mobMenu{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
    color:  #ECEDED;
    background-color: #167ABC;
}
.ulTable {
    margin-top: 15vh;
    margin-bottom: 15vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    font-size: 2.7rem;
    padding-inline-start: 0;
}
.liTable {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}
.liTable a{
    color:  #ECEDED;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.firstMobLogo{
    margin-top: 8vh;
}
.icons{
    color: white;
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 5vw;
    margin-left: 5vw;
}
.iconTable{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.colorPallete{
  color:#32417C;
  color:#2D53A2;
  color:#0561A8;
  color:#167ABC;
  color:#606164;
  color:#929293;
  color:#949183;
  color:#C8C9C2;
  color:#ECEDED;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .mediaMob{
        
    }
    .mediaDesk{
        display: none;
    }
    ul{
        justify-content: flex-end;
        margin: 17.5px;
        margin-right: 15px;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .mediaMob{
        display: none;
    }
    .mediaDesk{
    
    }

}