@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

.mobMenu {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
    background-color: #167ABC;
    object-fit: contain;
    z-index: 2;
}

.logoLandscape {
    margin-left: 15px;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
    z-index: 3;
}

.fixedMobButton {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: 18px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.ulTable {
    margin-top: 15vh;
    margin-bottom: 15vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    font-size: 2.7rem;
    padding-inline-start: 0;
}

.liTable {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.liTable button{
    background: transparent;
    border: none;
    color: #ECEDED;
    
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.firstMobLogo {
    margin-top: 8vh;
}

.mobIcons {
    color: white;
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 5vw;
    margin-left: 5vw;
}

.iconTable {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}


@media only screen and (max-width: 768px) {

    /* For mobile phones: */

    .mediaDesk {
        display: none;
    }

    .iconTable li {
        list-style: none;
    }
}

@media only screen and (orientation: portrait) {

    /* For mobile phones: */

    .mediaDesk {
        display: none;
    }

    .iconTable li {
        list-style: none;
    }

}

@media only screen and (max-height: 550px) and (orientation:landscape) {

    /* For mobile phones: */

    .mediaDesk {
        display: none;
    }

    .casePortrait {
        display: none;
    }

    .firstMobLogo button {
        background: transparent;
        border: 0;
        cursor: pointer;
        outline: none;
    }

    .buttonWrapper {
        justify-content: space-between;
    }

    .ulTable {
        width: 90vw;
        margin-top: 33vh;
        justify-content: space-around;
        flex-direction: initial;
    }

    .iconTable li {
        list-style: none;
    }
}

@media only screen and (min-height: 550px) and (min-width: 769px) {

    /* For desktop: */
    .mediaMob {
        display: none;
    }

    .iconTable li {
        list-style: none;
    }

}