footer {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: flex-end;
  background: white;
}

footer p {
  display: flex;
  align-items: center;
  color: rgb(47, 47, 47);
}

footer p span {
  margin-left: 7px;
  margin-right: 7px;
  color: aquamarine;
}

footer .icon{
  width: 18px;
  display: flex;
  justify-content: flex-end;
}

footer .code{
  width: 22px;
}

footer .citi-logo{
  width: 33px;
  margin: 0 15px 0 -2px;
  filter: invert(30%);
}